.site-info {
    background-color: rgb(244, 244, 244);
    width: 100%;
}

.links h5 {
    font-weight: bold;
    text-align: center;
}

.link-title, .site-logo {
    font-weight: bold;
}

.logo-img {
    display: inline-block;
}

.logo-img img {
    max-width: 120px;
    max-height: 120px;
}

.powered-by {
    margin-top: 20px;
    margin-bottom: 60px;
}

.powered-by a {
    color: rgb(130,209,249) !important;
}
